extends layout 

block header
  header
    h1 About Us
    p Welcome to our website!
    button(onclick="saludar()") Saludar

block content
  main
    p This is the about page content.
    form(method="POST" action="/submit-form")
     input(type="text" name="username")
     input(type="submit")

block footer 
   footer 
   p this is the footer
